{% extends 'homepage.html' %}
{% block content %}
    <form method="POST" action="">
        <img src="C:\Users\admin\Desktop\pspk.jfif"alt="">
        <ol start="" type="a"></ol>
        <label for="">username</label>
        <input type="text" name="username" placeholder="Enter name">
        <label for="">password</label>
        <input name="password" type="password" placeholder="Enter password">
        <button>submit</button>
        <a href="http://www.google.com">click</a>
    </form>
{% endblock %}
    